UID=1000
GID=1000
USER_NAME=jetson
DISPLAY=:0
HOST_TIL_ROOT=/home/jetson/yh_ws/TIL
HOST_WS_ROOT=/home/jetson/yh_ws
HOST_I2C_GID=116
ROS_DISTRO=humble
ROS_DOMAIN_ID=0
COMPOSE_PROJECT_NAME=jetson-vslam
JETSON_DEFAULT_PRESET=light
JETSON_TMPFS_TMP_SIZE=1024m
JETSON_TMPFS_VAR_SIZE=256m
